/* General reset */

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2 {
    color: #333;
}

.profile {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.profile-container {
    display: flex;
    align-items: center;
}

.profile-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-details {
    margin-left: 20px;
}

.profile-details h2 {
    font-size: 24px;
}

.profile-details p {
    margin-bottom: 10px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.working-time {
    margin: 20px 0;
}

.time-slots button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.time-slots button:hover {
    background-color: #0056b3;
}

.action-buttons {
    margin-top: 20px;
}

.book-now, .see-another {
    background-color: #FF9900;
    color: white;
    padding: 10px 20px;
    border: none;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.book-now:hover, .see-another:hover {
    background-color: #e68a00;
}

.reviews {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.review {
    margin-bottom: 20px;
}

.review p {
    margin-bottom: 5px;
}


